

span {
  display: inline-block;
  border-radius: 1em;
  font-weight: 700;
  padding: 4px 12px;
  margin: 10px;
  vertical-align: top;
}

.tip--small {
    font-size: 13px;
      line-height: 12px;
}

.tip--medium{

  font-size: 20px;
    line-height: 24px;
}

.tip--large {
  font-size: 25px;
    line-height: 30px;

}
