.h1{
  font-weight: lighter;
}

.storybook-card {
  border-radius: 10px;
  border: solid black 2px;
    min-height: auto;
    margin: 1rem;
    display: inline-block;
    padding: 0.5rem;
  
}

/* diferentes tamaños según el que se seleccione en el control de Carta.stories.jsx*/
.size--sm {
  min-width: 15rem;

}

.size--md {
  min-width: 20rem;

}

.size--lg {
  min-width: 30rem;

}

.storybook-card:hover{
  background-color: rgb(235, 213, 255);
  border:solid rgb(188, 117, 255) 2px;
  cursor: pointer;
}
