.h1{
  font-weight: lighter;
}

.storybook-card {
  border-radius: 10px;
  border: solid black 2px;
    height: auto;
    margin: 1rem;
    display: inline-block
}

.size--sm {
  width: 10rem;

}

.size--md {
  width: 24rem;

}

.size--lg {
  width: 30rem;

}

.storybook-card:hover{
  background-color: rgb(224, 245, 192);
  border:solid rgb(122, 150, 80) 1px;
  cursor: pointer;
}
