.h1{
  font-weight: lighter;
}

.storybook-card {
  border-radius: 10px;
  border: solid black 2px;
    min-height: auto;
    margin: 1rem;
    display: inline-block;
    padding: 0.5rem;
}

.size--sm {
  min-width: 15rem;

}

.size--md {
  min-width: 24rem;

}

.size--lg {
  min-width: 30rem;

}

.storybook-card:hover{
  background-color: rgb(224, 245, 192);
  border:solid rgb(122, 150, 80) 2px;
  cursor: pointer;
}
