/* 
estilo para section que envuelve cartas,
en formato row */

.responsive-box--row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

/* estilo row responsive */

@media (max-width: 600px) {
  .responsive-box--row {
    display:flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
  }

}
/* 
estilo para section que envuelve cartas, en formato columna */

.responsive-box--column {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  max-width: 30rem;
  margin: 0 auto;

}

