
h4 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  line-height: 1;
  margin: 2rem 0;
  display: block;
  text-align:center;
    font-style: oblique;
}


.storybook-title--sm {
  font-size: 0.5rem;
}

.storybook-title--md {
  font-size: 1.5rem;
}

.storybook-title--lg {
  font-size: 2.5rem;
}