
h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  line-height: 1;
  margin: 2rem 0;
  text-align:center;
}


.storybook-title--sm {
  font-size: 1.5rem;
}

.storybook-title--md {
  font-size: 2rem;
}

.storybook-title--lg {
  font-size: 3rem;
}